/*!
 * Start Bootstrap - Business Frontpage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*************************
*        FRONTPAGE LAYOUT        *
************************/
body {
	padding-top: 50px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */
.business-header {
	height: 400px;
	background: url(../images/background.jpg) center center no-repeat
		scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
	text-shadow: 0 0 10px #000;
	color: #fff;
}

.img-center {
	margin: 0 auto;
}

footer {
	margin: 50px 0;
}

div.filter-label {
	margin-top: -15px;
}

div.panel-content {
	width: 150px;
	display: inline;
}

div.editable-content {
	min-height: 40px;
}

div.inline {
	display: inline-block;
	margin-right: 5px;
}

/*************************
 *   Bootstrap Enhanced  *
 ************************/
.dropdown {
	cursor: pointer !important;
}